<div class="animate__animated animate__fadeIn animate__faster">
  <mat-toolbar color="primary">
    <span>Postulantes</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button (click)="add()" matTooltip="Agregar postulante">
      <mat-icon>add</mat-icon>
    </button>
    <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>widgets</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="add()">
        <mat-icon>add</mat-icon>
        <span>Agregar postulante</span>
      </button>
      <button mat-menu-item (click)="loadExcelFile()">
        <mat-icon>upload</mat-icon>
        <span>Cargar postulantes</span>
      </button>
    </mat-menu> -->
  </mat-toolbar>
  <div style="padding: 10px">
    <mat-form-field>
      <mat-label>Buscar postulante</mat-label>
      <input
        #inputsearch
        matInput
        [value]="term()"
        (keydown.enter)="applyFilter(inputsearch.value)"
        placeholder="Nombre / Nro. carnet"
      />
      @if (term()) {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="cancelFilter()"
      >
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="datasource()" multiTemplateDataRows>
        <ng-container matColumnDef="fullname">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let row">
            {{ row.fullname | uppercase }}
          </td>
        </ng-container>
        <ng-container matColumnDef="dni">
          <th mat-header-cell *matHeaderCellDef>CI</th>
          <td mat-cell *matCellDef="let row">
            {{ row.dni }}
          </td>
        </ng-container>
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Telefono</th>
          <td mat-cell *matCellDef="let row">
            {{ row.phone }}
          </td>
        </ng-container>
        <ng-container matColumnDef="profile">
          <th mat-header-cell *matHeaderCellDef>Perfil profesional</th>
          <td mat-cell *matCellDef="let row">
            {{ row.professional_profile | uppercase }}
          </td>
        </ng-container>
        <ng-container matColumnDef="candidate">
          <th mat-header-cell *matHeaderCellDef>Candidato por</th>
          <td mat-cell *matCellDef="let row">
            {{ row.candidate_for }}
          </td>
        </ng-container>
        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">
            &nbsp;
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              matTooltip="Ver detalles"
              (click)="
                expandedElement = expandedElement === element ? null : element;
                $event.stopPropagation()
              "
            >
              <mat-icon *ngIf="expandedElement !== element"
                >keyboard_arrow_down</mat-icon
              >
              <mat-icon *ngIf="expandedElement === element"
                >keyboard_arrow_up</mat-icon
              >
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="displayedColumns.length"
          >
            <div
              [@detailExpand]="
                element == expandedElement ? 'expanded' : 'collapsed'
              "
            >
              <div class="p-3">
                <p class="fw-bold">Listado de avales:</p>
                <ul>
                  @for (item of element.endorsers; track $index) {
                  <li>{{ item.name | uppercase }}</li>
                  } @empty {
                  <li style="color: red">SIN AVAL</li>
                  }
                </ul>
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              matTooltip="Opciones"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="edit(row)">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item (click)="approve(row)">
                <mat-icon>task_alt</mat-icon>
                <span>Aprobar</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: displayedColumns"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="detail-row"
        ></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="2" style="padding: 10px">
            No se encontraron resultados
          </td>
        </tr>
      </table>

      <paginator
        (onPageChage)="chnagePage($event)"
        [length]="datasize()"
        [index]="index()"
        [limit]="limit()"
      />
    </div>
  </div>
</div>
