<div class="card mt-2">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Nuevo"
        icon="pi pi-plus"
        class="p-button-success mr-2"
        (click)="news()"
      ></button>
    </ng-template>
    <ng-template pTemplate="right">
      <button
        pButton
        pRipple
        label="Cargar"
        icon="pi pi-upload"
        (click)="loadExcelFile()"
      ></button>
    </ng-template>
  </p-toolbar>
  <div class="p-2">
    <p-table
      #dt
      [value]="applicants()"
      [rows]="10"
      [paginator]="true"
      [tableStyle]="{ 'min-width': '75rem' }"
      [rowHover]="true"
      currentPageReportTemplate=" {first} de {last} para {totalRecords}"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Listado de aplicantes</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($event.target, 'contains')"
              placeholder="Buscar aplicante"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre completo</th>
          <th>CI</th>
          <th>Perfil profesional</th>
          <th>Candidato por</th>
          <th>Aval</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            {{ product.firstname | titlecase }}
            {{ product.middlename | titlecase }}
            {{ product.lastname | titlecase }}
          </td>
          <td>{{ product.dni }}</td>
          <td>{{ product.professional_profile }}</td>
          <td>{{ product.candidate_for | uppercase }}</td>
          <td>
            <ul>
              @for (item of product.endorsers; track $index) {
              <li>{{ item.name }}</li>
              } @empty {
              <li style="color: red">SIN AVAL</li>
              }
            </ul>
          </td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2"
              (click)="edit(product)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-check"
              class="p-button-rounded p-button-warning"
              (click)="acepp(product)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<applicant
  [visible]="visible"
  [applicant]="applicant"
  (close)="close($event)"
></applicant>

<p-dialog
  header="Aceptar postulante"
  (onHide)="closeAcept()"
  [(visible)]="aceptApplincat"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [draggable]="false"
  [resizable]="false"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <form [formGroup]="FormApplicant">
      <div class="formgrid grid">
        <div class="field col-12 md:col-4">
          <label for="name">Nombre </label>
          <input
            readonly
            id="name"
            type="text"
            pInputText
            formControlName="firstname"
          />
        </div>
        <div class="field col-12 md:col-4">
          <label for="name">Apellido paterno</label>
          <input
            readonly
            id="name"
            type="text"
            pInputText
            formControlName="middlename"
          />
        </div>
        <div class="field col-12 md:col-4">
          <label for="name">Apelldio materno</label>
          <input
            readonly
            id="name"
            type="text"
            pInputText
            formControlName="lastname"
          />
        </div>
        <div class="field col-12 md:col-2">
          <label for="name">Nro. Carnet</label>
          <input
            readonly
            id="name"
            type="text"
            pInputText
            formControlName="dni"
          />
        </div>
        <div class="field col-12 md:col-4">
          <label for="name">Perfil profesional</label>
          <input
            readonly
            id="name"
            type="text"
            pInputText
            formControlName="professional_profile"
          />
        </div>
        <div class="field col-12 md:col-6">
          <label for="name">Candidato a</label>
          <input
            id="name"
            type="text"
            pInputText
            formControlName="candidate_for"
          />
        </div>
      </div>
    </form>
    <p-autoComplete
      [(ngModel)]="selectedEndorsers"
      [forceSelection]="true"
      [multiple]="true"
      [suggestions]="endorsers()"
      (completeMethod)="searchEndorsers($event.query)"
      appendTo="body"
      field="name"
      placeholder="Buscar cargo"
    ></p-autoComplete>
    <span class="p-fluid"> </span>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Guardar"
      [disabled]="FormApplicant.invalid"
      (click)="save()"
    ></button>
  </ng-template>
</p-dialog>
