<mat-toolbar color="primary">
  <span>Avales</span>
  <span class="toolbar-spacer"></span>

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>widgets</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="add()">
      <mat-icon>add</mat-icon>
      <span>Agregar postulante</span>
    </button>
    <button mat-menu-item (click)="loadExcelFile()">
      <mat-icon>upload</mat-icon>
      <span>Cargar postulantes</span>
    </button>
    <button mat-menu-item (click)="loadOfficial()">
      <mat-icon>upload</mat-icon>
      <span>Cargar planilla</span>
    </button>
  </mat-menu>
</mat-toolbar>
<div style="padding: 10px">
  <mat-form-field>
    <mat-label>Buscar aval</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Nombre de la organizacion"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Nombre completo
        </th>
        <td mat-cell *matCellDef="let row" style="font-weight: bold">
          {{ row.firstname | uppercase }} {{ row.middlename | uppercase }}
          {{ row.lastname | uppercase }}
        </td>
      </ng-container>
      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>DNI</th>
        <td mat-cell *matCellDef="let row">
          {{ row.dni }}
        </td>
      </ng-container>
      <ng-container matColumnDef="profile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Perfil profesional
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.professional_profile | uppercase }}
        </td>
      </ng-container>
      <ng-container matColumnDef="candidate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Candidato por</th>
        <td mat-cell *matCellDef="let row">
          {{ row.candidate_for === "" ? "-----" : row.candidate_for }}
        </td>
      </ng-container>
      <ng-container matColumnDef="endorsers">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Avales</th>
        <td mat-cell *matCellDef="let row">
          <ul>
            @for (item of row.endorsers; track $index) {
            <li>{{ item.name }}</li>
            } @empty {
            <li style="color: red">SIN AVAL</li>
            }
          </ul>
        </td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="edit(row)">
              <mat-icon>edit</mat-icon>
              <span>Editar postulante</span>
            </button>
            <button mat-menu-item (click)="acept(row)">
              <mat-icon>check_circle</mat-icon>
              <span>Aceptar postulante</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="2" style="padding: 10px">
          Sin resultados para: "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>

<!-- <p-dialog
  header="Avalados"
  [(visible)]="dialogDetail"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '900px' }"
>
  @if (applicants.length>0) {
  <p-table [value]="applicants" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Nro</th>
        <th>Nombre</th>
        <th>CI</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
      <tr>
        <td>{{ rowIndex + 1 }}</td>
        <td>
          {{ product.firstname }} {{ product.middlename }}
          {{ product.lastname }}
        </td>
        <td>{{ product.dni }}</td>
      </tr>
    </ng-template>
  </p-table>
  } @else {
  <p>Sin avalados</p>
  }
</p-dialog> -->
