<div class="animate__animated animate__fadeIn animate__faster">
  <mat-toolbar color="primary">
    <span>Aprobados</span>
    <span class="toolbar-spacer"></span>
  </mat-toolbar>
  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-sm-9">
        <mat-form-field>
          <mat-label>Buscar aprobado</mat-label>
          <input
            #inputsearch
            matInput
            [value]="term()"
            (keydown.enter)="applyFilter(inputsearch.value)"
            placeholder="Nombre / Nro. carnet"
          />
          @if (term()) {
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="cancelFilter()"
          >
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          @if(date){
          <button mat-icon-button matSuffix (click)="cancelFilterDate()">
            <mat-icon>close</mat-icon>
          </button>
          }
          <mat-label>Fecha de aprobacion</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="date"
            (dateChange)="applyFilterByDate()"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="datasource()" multiTemplateDataRows>
        <ng-container matColumnDef="dni">
          <th mat-header-cell *matHeaderCellDef>CI</th>
          <td mat-cell *matCellDef="let row">
            {{ row.dni }}
          </td>
        </ng-container>
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Telefono</th>
          <td mat-cell *matCellDef="let row">
            {{ row.phone }}
          </td>
        </ng-container>
        <ng-container matColumnDef="fullname">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let row">
            {{ row.fullname | uppercase }}
          </td>
        </ng-container>
        <ng-container matColumnDef="profile">
          <th mat-header-cell *matHeaderCellDef>Perfil profesional</th>
          <td mat-cell *matCellDef="let row">
            {{ row.professional_profile | uppercase }}
          </td>
        </ng-container>
        <ng-container matColumnDef="candidate">
          <th mat-header-cell *matHeaderCellDef>Candidato por</th>
          <td mat-cell *matCellDef="let row">
            {{ row.candidate_for === "" ? "-----" : row.candidate_for }}
          </td>
        </ng-container>
        <ng-container matColumnDef="dj">
          <th mat-header-cell *matHeaderCellDef>DJ.</th>
          <td mat-cell *matCellDef="let row">
            @if(row.haveFile(file.DJ)){
            <mat-icon fontIcon="check" style="color: green" />
            } @else { <mat-icon fontIcon="close" style="color: red" /> }
          </td>
        </ng-container>
        <ng-container matColumnDef="rj">
          <th mat-header-cell *matHeaderCellDef>RJ.</th>
          <td mat-cell *matCellDef="let row">
            @if(row.haveFile(file.RJ)){
            <mat-icon fontIcon="check" style="color: green" />
            } @else { <mat-icon fontIcon="close" style="color: red" /> }
          </td>
        </ng-container>
        <ng-container matColumnDef="s">
          <th mat-header-cell *matHeaderCellDef>S.</th>
          <td mat-cell *matCellDef="let row">
            @if(row.haveFile(file.S)){
            <mat-icon fontIcon="check" style="color: green" />
            } @else { <mat-icon fontIcon="close" style="color: red" /> }
          </td>
        </ng-container>
        <ng-container matColumnDef="af">
          <th mat-header-cell *matHeaderCellDef>LB.</th>
          <td mat-cell *matCellDef="let row">
            @if(row.haveFile(file.LB)){
            <mat-icon fontIcon="check" style="color: green" />
            } @else { <mat-icon fontIcon="close" style="color: red" /> }
          </td>
        </ng-container>

        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="update(row)">
                <mat-icon>edit</mat-icon>
                <span>Editar postulante</span>
              </button>
              <button mat-menu-item (click)="updateDocuments(row)">
                <mat-icon>edit_note</mat-icon>
                <span>Editar documentos</span>
              </button>
              <button mat-menu-item (click)="remove(row)">
                <mat-icon>delete</mat-icon>
                <span>Remover</span>
              </button>
              <button mat-menu-item (click)="accept(row)">
                <mat-icon>how_to_reg</mat-icon>
                <span>Aprobar ingreso</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">
            &nbsp;
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              aria-label="expand row"
              (click)="
                expandedElement = expandedElement === element ? null : element;
                $event.stopPropagation()
              "
            >
              @if (expandedElement === element) {
              <mat-icon>keyboard_arrow_up</mat-icon>
              } @else {
              <mat-icon>keyboard_arrow_down</mat-icon>
              }
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="columns.length"
          >
            <div
              class="example-element-detail"
              [@detailExpand]="
                element == expandedElement ? 'expanded' : 'collapsed'
              "
            >
              <div class="p-3">
                <p class="fw-bold">Listado de avales:</p>
                <ul>
                  @for (item of element.endorsers; track $index) {
                  <li>{{ item.name | uppercase }}</li>
                  } @empty {
                  <li style="color: red">SIN AVAL</li>
                  }
                </ul>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: columns"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          [class.is-done]="element.isEnabled()"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="example-detail-row"
        ></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="10" style="padding: 20px">
            No se encontraron resultados
          </td>
        </tr>
      </table>
      <paginator
        (onPageChage)="changePage($event)"
        [length]="datasize()"
        [index]="index()"
        [limit]="limit()"
      />
    </div>
  </div>
</div>
