<h2 mat-dialog-title>Aceptar postulante</h2>
<mat-dialog-content>
  <dl class="row">
    <dt class="col-sm-3">Nombre completo:</dt>
    <dd class="col-sm-9">{{ applicant.fullname }}</dd>

    <dt class="col-sm-3">Nro. Carnet</dt>
    <dd class="col-sm-9">
      {{ applicant.dni }}
    </dd>

    <dt class="col-sm-3">Pefil profesional:</dt>
    <dd class="col-sm-9">
      {{ applicant.professional_profile }}
    </dd>

    <dt class="col-sm-3">Canditado a:</dt>
    <dd class="col-sm-9">
      {{ applicant.candidate_for }}
    </dd>
  </dl>
  <hr />
  <div class="row mb-4">
    <p class="fw-bold">Listado de avales</p>
    <div class="col-12">
      <ul
        class="list-group list-group-flush overflow-auto"
        style="max-height: 280px"
      >
        @for (item of applicant.endorsers; track $index) {
        <li class="list-group-item">{{ item.name }}</li>
        }
      </ul>
    </div>
  </div>
  <server-select-search
    placeholder="Seleccione el cargo"
    [data]="jobs()"
    (onSearch)="seaarchJobs($event)"
    (onSelect)="setJob($event)"
  ></server-select-search>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="warn" mat-dialog-close>Cancelar</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="!id_job"
    (click)="acept()"
  >
    Aceptar
  </button>
</mat-dialog-actions>
