<h2 mat-dialog-title>{{ applicant ? "Edicion" : "Registro" }} postulante</h2>
<mat-dialog-content>
  <form [formGroup]="FormApplicant">
    <div class="row">
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="firstname" required />
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Apellido paterno</mat-label>
          <input matInput formControlName="middlename" required />
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Apellido materno</mat-label>
          <input matInput formControlName="lastname" />
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <mat-label>Nro. Carnet</mat-label>
          <input matInput formControlName="dni" />
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Perfil profesional</mat-label>
          <input matInput formControlName="professional_profile" />
        </mat-form-field>
      </div>
      <div class="col-sm-5">
        <mat-form-field>
          <mat-label>Cantidato por</mat-label>
          <input matInput formControlName="candidate_for" />
        </mat-form-field>
      </div>
      <div class="col-12">
        <server-select-search
          placeholder="Buscar aval"
          [data]="endorsers()"
          (onSearch)="searchEndorsers($event)"
          (onSelect)="setEndorser($event)"
        ></server-select-search>
      </div>
      <mat-nav-list>
        <div mat-subheader>Listado de avales</div>
        @for (link of selectedEndorsers; track link) {
        <mat-list-item>
          <div matListItemTitle href="...">{{ link.name }}</div>
          <button mat-icon-button matListItemMeta (click)="remove(link)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
        } @empty {
        <p class="text-center">Sin avales</p>
        }
      </mat-nav-list>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [disabled]="FormApplicant.invalid" (click)="save()">
    Aceptar
  </button>
</mat-dialog-actions>
