<h2 mat-dialog-title>{{ applicant ? "Edicion" : "Registro" }} postulante</h2>
<mat-dialog-content>
  <form [formGroup]="FormApplicant">
    <div class="row">
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="firstname" required />
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Apellido paterno</mat-label>
          <input matInput formControlName="middlename" required />
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Apellido materno</mat-label>
          <input matInput formControlName="lastname" />
        </mat-form-field>
      </div>
      <div class="col-sm-5">
        <mat-form-field>
          <mat-label>Perfil profesional</mat-label>
          <input matInput formControlName="professional_profile" />
        </mat-form-field>
      </div>
      <div class="col-sm-7">
        <mat-form-field>
          <mat-label>Cantidato por</mat-label>
          <input matInput formControlName="candidate_for" />
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <mat-label>Nro. Carnet</mat-label>
          <input matInput formControlName="dni" required />
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <mat-label>Telefono</mat-label>
          <input matInput formControlName="phone" />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field>
          <mat-label>Listado de avales</mat-label>
          <mat-chip-grid #chipGrid aria-label="Endorser selection">
            @for (endor of endorsers; track endor) {
            <mat-chip-row (removed)="remove(endor)">
              {{ endor.name | titlecase }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            }
          </mat-chip-grid>
          <input
            placeholder="Nombre del aval / Organizacion"
            #endorserInput
            [formControl]="endorserCtrl"
            [matChipInputFor]="chipGrid"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="selected($event)"
          >
            @for (endorser of filteredEndorsers | async; track endorser._id) {
            <mat-option [value]="endorser">
              {{ endorser.name | titlecase }} -
              {{ endorser.organization?.name ?? "SIN ORGANIZACION" }}
            </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="warn" mat-dialog-close>Cancelar</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="FormApplicant.invalid"
    (click)="save()"
  >
    Aceptar
  </button>
</mat-dialog-actions>
