<p-dialog
  header="Registro postulante"
  [closable]="false"
  [visible]="visible"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [draggable]="false"
  [resizable]="false"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <form [formGroup]="FormApplicant">
      <div class="formgrid grid">
        <div class="field col-12 md:col-4">
          <label for="name">Nombre </label>
          <input id="name" type="text" pInputText formControlName="firstname" />
        </div>
        <div class="field col-12 md:col-4">
          <label for="name">Apellido paterno</label>
          <input
            id="name"
            type="text"
            pInputText
            formControlName="middlename"
          />
        </div>
        <div class="field col-12 md:col-4">
          <label for="name">Apelldio materno</label>
          <input id="name" type="text" pInputText formControlName="lastname" />
        </div>
        <div class="field col-12 md:col-2">
          <label for="name">Nro. Carnet</label>
          <input id="name" type="text" pInputText formControlName="dni" />
        </div>
        <div class="field col-12 md:col-4">
          <label for="name">Perfil profesional</label>
          <input
            id="name"
            type="text"
            pInputText
            formControlName="professional_profile"
          />
        </div>
        <div class="field col-12 md:col-6">
          <label for="name">Candidato a</label>
          <input
            id="name"
            type="text"
            pInputText
            formControlName="candidate_for"
          />
        </div>
      </div>
    </form>
    <p-autoComplete
      [(ngModel)]="selectedEndorsers"
      [forceSelection]="true"
      [multiple]="true"
      [suggestions]="endorsers()"
      (completeMethod)="searchEndorsers($event.query)"
      appendTo="body"
      field="name"
      placeholder="Buscar aval"
    ></p-autoComplete>
    <span class="p-fluid"> </span>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      class="p-button-text"
      (click)="cancel()"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      [disabled]="FormApplicant.invalid"
      (click)="save()"
    ></button>
  </ng-template>
</p-dialog>
