<h1 mat-dialog-title>Edicion documentacion</h1>
<mat-dialog-content>
  <dl class="row">
    <dt class="col-sm-3">Postulante:</dt>
    <dd class="col-sm-9">{{ applicant.fullname }}</dd>

    <dt class="col-sm-3">Carnet:</dt>
    <dd class="col-sm-9">
      {{ applicant.dni }}
    </dd>
  </dl>
  <mat-selection-list #shoes [(ngModel)]="selectedDocuments">
    @for (document of documents; track document) {
    <mat-list-option [value]="document">{{ document }}</mat-list-option>
    <mat-divider />
    }
  </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="warn" [mat-dialog-close]="">Cancelar</button>
  <button mat-flat-button color="primary" (click)="update()">Aceptar</button>
</mat-dialog-actions>
