<h2 mat-dialog-title>Avalados</h2>
<mat-dialog-content>
  <mat-list>
    <div mat-subheader>{{ endorser.name }}</div>
    @for (applicant of applicants(); track applicant._id) {
    <mat-list-item>
      <mat-icon matListItemIcon>person</mat-icon>
      <div matListItemTitle>
        {{ applicant.firstname }} {{ applicant.middlename }}
        {{ applicant.lastname }}
      </div>
      <div matListItemLine>{{ applicant.dni }}</div>
    </mat-list-item>
    } @empty {
    <mat-list-item>Sin Avalados</mat-list-item>
    }
    <mat-divider></mat-divider>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="">Cerrar</button>
</mat-dialog-actions>
