<div class="animate__animated animate__fadeIn animate__faster">
  <mat-toolbar color="primary">
    <span>Funcionarios</span>
    <span class="toolbar-spacer"></span>
    <!-- <button mat-icon-button (click)="loadExcelFile()">
      <mat-icon>upload</mat-icon>
    </button> -->
  </mat-toolbar>
  <div class="container-fluid mt-2">
    <mat-form-field>
      <mat-label>Buscar funcionario</mat-label>
      <input
        #inputsearch
        matInput
        [value]="term()"
        (keydown.enter)="applyFilter(inputsearch.value)"
        placeholder="Nombre / Nro. carnet"
      />
      @if (term()) {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="cancelFilter()"
      >
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table [dataSource]="datasource()" mat-table aria-label="Elements">
        <ng-container matColumnDef="group">
          <th mat-header-cell *matHeaderCellDef>Tipo</th>
          <td mat-cell *matCellDef="let row">{{ row.job?.group }}</td>
        </ng-container>

        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef>Nivel</th>
          <td mat-cell *matCellDef="let row">{{ row.job?.level }}</td>
        </ng-container>
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Nro</th>
          <td mat-cell *matCellDef="let row">{{ row.job?.code }}</td>
        </ng-container>
        <ng-container matColumnDef="dni">
          <th mat-header-cell *matHeaderCellDef>CI</th>
          <td mat-cell *matCellDef="let row">{{ row.dni }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let row">{{ row.fullname }}</td>
        </ng-container>

        <ng-container matColumnDef="job">
          <th mat-header-cell *matHeaderCellDef>Cargo</th>
          <td mat-cell *matCellDef="let row">
            {{ row.job ? row.job.name : "sin cargo" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="endorsers">
          <th mat-header-cell *matHeaderCellDef>Avales</th>
          <td mat-cell *matCellDef="let row">
            <ul>
              @for (item of row.endorsers; track $index) {
              <li>{{ item.name | uppercase }}</li>
              } @empty {
              <li style="color: red">SIN AVAL</li>
              }
            </ul>
          </td>
        </ng-container>
        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="edit(row)" matTooltip="Editar">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displaycolumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displaycolumns"></tr>
      </table>
      <paginator
        (onPageChage)="changePage($event)"
        [length]="datasize()"
        [index]="index()"
        [limit]="limit()"
      />
    </div>
  </div>
</div>
